In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
%matplotlib inline

In [8]:
df=pd.read_csv("heart.csv")
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [10]:
X = df.drop(['target'],axis=1)
Y = df['target']

In [11]:
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [13]:
print("Size of X Train:- " + str(X_train.shape))
print("Size of X Test:- " + str(X_test.shape))
print("Size of Y Train:- " + str(y_train.shape))
print("Size of Y Test:- " + str(y_test.shape))

Size of X Train:- (242, 13)
Size of X Test:- (61, 13)
Size of Y Train:- (242,)
Size of Y Test:- (61,)

In [14]:
reg_rf = RandomForestClassifier(max_depth=90,min_samples_split= 3,n_estimators= 76)
reg_rf.fit(X_train, y_train)

RandomForestClassifier(max_depth=90, min_samples_split=3, n_estimators=76)

In [15]:
y_pred_1 = reg_rf.predict(X_test)

In [16]:
print(metrics.classification_report(y_test, y_pred_1))

              precision    recall  f1-score   support

           0       0.89      0.74      0.81        34
           1       0.73      0.89      0.80        27

    accuracy                           0.80        61
   macro avg       0.81      0.81      0.80        61
weighted avg       0.82      0.80      0.80        61

In [17]:
print(round(accuracy_score(y_test, y_pred_1)*100,2))

80.33

In [18]:
print(round(accuracy_score( y_pred_1,y_test)*100,2))

80.33

In [19]:

# Class count
count_class_1, count_class_0 = df.target.value_counts()

# Divide by class
df_class_0 = df[df['target'] == 0]
df_class_1 = df[df['target'] == 1]

In [20]:
df['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

In [21]:
df_class_0_over = df_class_0.sample(count_class_1+100,replace=True)
df_test_over = pd.concat([df_class_1,df_class_0_over],axis=0)

print('Random over-sampling:')
print(df_test_over.target.value_counts())

Random over-sampling:
0    265
1    165
Name: target, dtype: int64

In [22]:
X_m2 = df_test_over.drop('target',axis='columns')
y_m2 = df_test_over['target']

from sklearn.model_selection import train_test_split
X_m2_train, X_m2_test, y_m2_train, y_m2_test = train_test_split(X_m2, y_m2, test_size=0.2, random_state=15, stratify=y_m2)
     

y_m2_train.value_counts()

0    212
1    132
Name: target, dtype: int64

In [23]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

reg_rf_1 = RandomForestClassifier(max_depth=180,min_samples_split= 5,n_estimators= 152)
reg_rf_1.fit(X_m2_train, y_m2_train)
ym_pred = reg_rf_1.predict(X_m2_test)
print(metrics.classification_report(y_m2_test, ym_pred))

              precision    recall  f1-score   support

           0       0.94      0.94      0.94        53
           1       0.91      0.91      0.91        33

    accuracy                           0.93        86
   macro avg       0.93      0.93      0.93        86
weighted avg       0.93      0.93      0.93        86

In [24]:
print(round(accuracy_score( y_m2_test, ym_pred)*100,2))

93.02

In [25]:
import pickle as pk

In [26]:
pk.dump(reg_rf_1,open('model.pkl','wb'))